<section id="features" class="features section">

    <div class="container">
        <ul class="nav nav-tabs row d-flex" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item col-3">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                    <i class="bi bi-tools"></i>
                    <h4 class="d-none d-lg-block">Technische Umsetzung</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                    <i class="bi bi-hdd-network"></i>
                    <h4 class="d-none d-lg-block">APIs & Datenbanken</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                    <i class="bi bi-rocket"></i>
                    <h4 class="d-none d-lg-block">Launch & Hosting</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
                    <i class="bi bi-life-preserver"></i>
                    <h4 class="d-none d-lg-block">Support & Rescue</h4>
                </a>
            </li>
        </ul><!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

            <!-- Tab 1 -->
            <div class="tab-pane fade active show" id="features-tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Technische Umsetzung deiner Ideen</h3>
                        <p class="fst-italic">Du lieferst das Konzept oder Design – ich setze es funktional um.</p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>Website-Umsetzung (HTML, CSS, JS, CMS oder
                                    komplett
                                    individuell).</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Webapps und Tools in Go, PHP oder Node.js.</span>
                            </li>
                            <li><i class="bi bi-check2-all"></i> <span>Sauber dokumentierter, wartbarer Code – keine
                                    Blackbox.</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/freelancer-dev.jpg" alt="Technische Umsetzung" class="img-fluid">
                    </div>
                </div>
            </div>

            <!-- Tab 2 -->
            <div class="tab-pane fade" id="features-tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>APIs, Datenbanken & Schnittstellen</h3>
                        <p>Ich helfe dir, komplexe Daten oder externe Systeme smart in dein Projekt einzubinden.</p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>REST- & JSON-APIs – erstellen, erweitern oder
                                    integrieren.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Datenbanken (PostgreSQL, MySQL, Redis) planen &
                                    optimieren.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Automatisierte Workflows &
                                    Datenverarbeitung.</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/api-dev.jpg" alt="APIs und Datenbanken" class="img-fluid">
                    </div>
                </div>
            </div>

            <!-- Tab 3 -->
            <div class="tab-pane fade" id="features-tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Launch & Hosting</h3>
                        <p>Wenn alles fertig ist, begleite ich dich bis zum Launch – oder übernehme das Hosting gleich
                            mit.</p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>Deployment auf gängigen Plattformen oder eigenem
                                    Server.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>HTTPS, Domain, E-Mail – alles dabei.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Auf Wunsch: schlankes Monitoring & regelmäßige
                                    Updates.</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/hosting.jpg" alt="Launch & Hosting" class="img-fluid">
                    </div>
                </div>
            </div>

            <!-- Tab 4 -->
            <div class="tab-pane fade" id="features-tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Support, Notfallhilfe & Projekt-Rettung</h3>
                        <p>Dein Projekt ist festgefahren? Oder du brauchst einfach jemanden, der kurzfristig übernimmt?
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>Debugging & Bugfixes – auch in Legacy-Code (z. B.
                                    PHP,
                                    Perl).</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Übernahme von unfertigen Projekten anderer
                                    Entwickler.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Technischer Support als White-Label für deine
                                    Kunden.</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/support.jpg" alt="Support und Projekt-Rettung" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>