<footer id="footer" class="footer">
    <div class="container">
        <div class="social-links d-flex justify-content-center mb-3">
            <a x-data="{u:'hello', d:'fovebo.com', s:'Contact via website'}"
               :href="`mailto:${u}@${d}?subject=${encodeURIComponent(s)}`" rel="noopener noreferrer nofollow">
                <i class="bi bi-envelope-at"></i>
            </a>
            <a href="https://www.linkedin.com/in/fovebo" target="_blank" rel="noopener noreferrer nofollow"
               aria-label="LinkedIn">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class="footer-links text-center mt-3">
            <a href="/legal-notice.html" class="me-3" target="_blank" rel="noopener noreferrer">Legal Notice</a>
            <a href="/privacy-policy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>
        <div class="copyright text-center mb-2 mt-2 text-muted">
            <p> © 2025 <strong class="px-1 sitename">André Plöger</strong> · All rights reserved</p>
        </div>
    </div>
</footer>