<div id="scriptLoader" x-data x-init="[
  '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js', 
  '/assets/vendor/aos/aos.js',
  '/assets/vendor/waypoints/noframework.waypoints.js',
  '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js',
  '/assets/vendor/isotope-layout/isotope.pkgd.min.js',
  '/assets/js/main.js'
  ].forEach(src => {
  const s = document.createElement('script');
  s.src = src;
  s.defer = true; // oder async = false bei Bedarf
  document.head.appendChild(s);
})">
  <noscript>JavaScript erforderlich.</noscript>
</div>